html, html.transition{
    transition: $default-transition;
    font-family: $secondary-font;
    a{
        text-decoration: underline;
    }
    background-color: $bg_light;
    color: $font_light;
}