//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//css variables
html {
    --lightBg: #fff;
    --lightColor: #232323;
}

//scss variables
$bg_light: var(--lightBg);
$font_light: var(--lightColor);

$primary-color:#74BD43;
$secondary-color:#E7F3D8;
$dark-color: #202929;
$light-grey: #F5F5F5;

$small-box-shadow: 0 4px 4px 0 rgba($dark-color, 0.2);

//PIXELS to EM sizes
$_4px: 0.25em;
$_8px: 0.5em;
$_12px: 0.75em;
$_16px: 1em;
$_20px: 1.25em;
$_24px: 1.5em;
$_28px: 1.75em;
$_32px: 2em;
$_36px: 2.25em;
$_40px: 2.5em;
$_44px: 2.75em;
$_48px: 3em;
$_52px: 3.25em;
$_56px: 3.5em;
$_60px: 3.75em;
$_64px: 4em;
$_68px: 4.25em;
$_72px: 4.5em;
$_76px: 4.75em;
$_80px: 5em;


//responsive breakpoints
$br-mobile: 640px;
$br-tablet: 768px;
$br-desktop: 1280px;
$br-desktop-lg: 1440px;

//effects variables
$default-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
$default-transition: all 0.4s ease;