//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//css variables
html {
    --lightBg: #fff;
    --lightColor: #232323;

    --primaryColor:#7b2cbf;
    --primaryColorLighten: #e1ddff;
    --secondaryColor:#f72585;
    --textColor:#03071e;
    --textColorLighten:#5c6072;
    --contrastColor:#ffffff;
    --featuredColor:#0be75c;
    --featuredColorLighten:#aeffcb;
}

//scss variables
$bg_light: var(--lightBg);
$font_light: var(--lightColor);

$primary-color:#74BD43;
$secondary-color:#E7F3D8;
$dark-color: #202929;
$light-grey: #F5F5F5;

$small-box-shadow: 0 4px 4px 0 rgba($dark-color, 0.2);
$large-box-shadow: 0 4px 20px 0 rgba($dark-color, 0.2);

//PIXELS to EM sizes
$_4px: 0.25rem;
$_8px: 0.5rem;
$_12px: 0.75rem;
$_14px: 0.875rem;
$_16px: 1rem;
$_20px: 1.25rem;
$_24px: 1.5rem;
$_28px: 1.75rem;
$_32px: 2rem;
$_36px: 2.25rem;
$_40px: 2.5rem;
$_44px: 2.75rem;
$_48px: 3rem;
$_52px: 3.25rem;
$_56px: 3.5rem;
$_60px: 3.75rem;
$_64px: 4rem;
$_68px: 4.25rem;
$_72px: 4.5rem;
$_76px: 4.75rem;
$_80px: 5rem;


//responsive breakpoints
$br-mobile: 640px;
$br-tablet: 768px;
$br-desktop: 1280px;
$br-desktop-lg: 1440px;

//effects variables
$default-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
$default-transition: all 0.4s ease;